<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiandi.logistics.mapper.HandoverSlipMapper">


    <select id="getHandover" resultType="com.tiandi.logistics.entity.pojo.HandoverSlip">
        SELECT
        id_tp_handover_slip,id_handover_order,id_package,stat_spot,handover_spot,receiver_name,create_time,update_time
        from
        tp_handover_slip
        where handover_spot = #{name_distribution} and is_delete = 0
    </select>

    <select id="getHandoverByID" resultType="com.tiandi.logistics.entity.pojo.HandoverSlip">
        select id_tp_handover_slip,tp_handover_slip.id_handover_order,tp_handover_slip.id_package,stat_spot,handover_spot,receiver_name,create_time,update_time
        from
        tp_handover_slip join tp_package on tp_handover_slip.id_package = tp_package.id_package
        where tp_package.id_package = #{idPackage} and tp_handover_slip.handover_spot = #{name_distribution}
    </select>

    <update id="deleteHandover" parameterType="com.tiandi.logistics.entity.front.AddHandover">
         update tp_handover_slip set is_delete=1 where id_handover_order=#{id_handover_order};
         update tp_package set is_delete=1 where id_handover_order=#{id_handover_order};
    </update>
</mapper>