<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
    @author Yue Wu
    @since 2020/12/7
 -->
<mapper namespace="com.tiandi.logistics.mapper.VehicleMapper">

    <resultMap id="vehicleMap" type="com.tiandi.logistics.entity.front.VehicleResult">
        <result property="idTpVehicle" column="id_tp_vehicle"/>
        <result property="driverName" column="driver_name"/>
        <result property="idLicense" column="id_license"/>
        <result property="limitKilogram" column="limit_kilogram"/>
        <result property="limitVolume" column="limit_volume"/>
        <result property="createTime" column="ctime"/>
        <result property="state" column="state"/>
        <result property="type" column="type"/>
    </resultMap>

    <select id="getVehicleByOrg" resultMap="vehicleMap">
        SELECT tv.id_tp_vehicle,tv.id_license,tv.driver_name,tv.`type`,tv.state,tv.limit_kilogram,tv.limit_volume,DATE_FORMAT(tv.create_time,'%Y-%m-%d %H:%i:%S') AS ctime
        FROM tp_vehicle AS tv INNER JOIN tp_distribution AS td ON tv.id_distribution = td.id_distribution
        WHERE td.name_distribution = #{org}
    </select>
</mapper>